on post-fs-data
    mkdir /data/config 0777 root system
    copy /mnt/vendor/persist/FSN.txt /data/config/FSN.txt
    chmod 0444 /data/config/FSN.txt
    chown system system /data/config/FSN.txt
    copy /mnt/vendor/persist/PSN.txt /data/config/PSN.txt
    chmod 0444 /data/config/PSN.txt
    chown system system /data/config/PSN.txt

on property:persist.service.boot_logfs.enable=1
    copy /dev/block/sde55 /data/logs/logfs
    chmod 0444 /data/logs/logfs
    chown system system /data/logs/logfs

#add for A+G sensor calibration
on property:sys.ssc_drva_test.accel=copy
   copy /mnt/vendor/persist/sensors/registry/registry/icm4x6xx_0_platform.accel.fac_cal.bias data/config/icm4x6xx_0_platform.accel.fac_cal.bias
   copy /mnt/vendor/persist/sensors/registry/registry/lsm6dso_0_platform.accel.fac_cal.bias data/config/lsm6dso_0_platform.accel.fac_cal.bias
   chown system system data/config/icm4x6xx_0_platform.accel.fac_cal.bias
   chmod 0666 /data/config/icm4x6xx_0_platform.accel.fac_cal.bias
   chown system system data/config/lsm6dso_0_platform.accel.fac_cal.bias
   chmod 0666 /data/config/lsm6dso_0_platform.accel.fac_cal.bias

on property:sys.ssc_drva_test.gyro=copy
   copy /mnt/vendor/persist/sensors/registry/registry/icm4x6xx_0_platform.gyro.fac_cal.bias data/config/icm4x6xx_0_platform.gyro.fac_cal.bias
   copy /mnt/vendor/persist/sensors/registry/registry/lsm6dso_0_platform.gyro.fac_cal.bias data/config/lsm6dso_0_platform.gyro.fac_cal.bias
   chown system system data/config/icm4x6xx_0_platform.gyro.fac_cal.bias
   chmod 0666 /data/config/icm4x6xx_0_platform.gyro.fac_cal.bias
   chown system system data/config/lsm6dso_0_platform.gyro.fac_cal.bias
   chmod 0666 /data/config/lsm6dso_0_platform.gyro.fac_cal.bias


on userspace-reboot-requested
    setprop sys.logkit.bugreport ""
    setprop sys.tombstones.copy 0
    setprop sys.logkit.dumplog.enable 0
    setprop sys.logkit.ssr.restart_level ""
    setprop sys.logkit.debug_policy ""
    setprop sys.logkit.debug_policy.ready 1
    setprop sys.logkit.system_server.pid "-1"
    setprop sys.logkit.sigquit.p ""
    setprop sys.logkit.dynamic.log 0

on property:dev.bootcomplete=1
    copy /sys/fs/pstore/console-ramoops-0 /data/config/console-ramoops-0-tmp
    chmod 0444 /data/config/console-ramoops-0-tmp
    start log_service

on property:sys.tcpdump=1
    start tcp_dump

on property:sys.tombstones.copy=1
    start copy_tombstones
    setprop sys.tombstones.copy 0

on property:sys.logkit.dumplog.enable=1
    mkdir /data/logs/dumpsys 0770 system system
    start dump_info

on property:sys.logkit.dumplog.enable=0
    stop dump_info

on property:sys.logkit.ssr.restart_level=ALL_DISABLE
    setprop persist.vendor.ssr.restart_level ALL_DISABLE

on property:sys.logkit.ssr.restart_level=ALL_ENABLE
    setprop persist.vendor.ssr.restart_level ALL_ENABLE

on property:persist.vendor.ssr.restart_level=*
    setprop sys.read.ssr.restart_level ${persist.vendor.ssr.restart_level}

on property:sys.logkit.debug_policy=fulldump
    setprop persist.vendor.debug_policy fulldump

on property:sys.logkit.debug_policy=minidump
    setprop persist.vendor.debug_policy minidump

on property:sys.logkit.debug_policy.ready=0
    setprop persist.vendor.debug_policy.ready 0

on property:sys.logkit.sigquit.p=*
    start logkit_sigquit

# for use adb to set persist.service.uploadlog.enable
on property:debug.logkit.uploadlog.enable=0
    setprop persist.service.uploadlog.enable 0

on property:debug.logkit.uploadlog.enable=1
    setprop persist.service.uploadlog.enable 1

# for set Qcril
on property:sys.logkit.persist.vendor.radio.adb_log_on=0
   setprop persist.vendor.radio.adb_log_on 0

on property:sys.logkit.persist.vendor.radio.adb_log_on=1
   setprop persist.vendor.radio.adb_log_on 1

# for set force_key_warm_reset
on property:sys.logkit.stability.force_key_warm_reset=0
   setprop persist.vendor.stability.force_key_warm_reset 0

on property:sys.logkit.stability.force_key_warm_reset=1
   setprop persist.vendor.stability.force_key_warm_reset 1

on property:persist.vendor.stability.force_key_warm_reset=*
    setprop sys.read.stability.force_key_warm_reset ${persist.vendor.stability.force_key_warm_reset}

# for copy nt_uefi and nt_kmsg in 22111
on property:sys.logkit.taro.nt_uefi.copy=1
    copy /dev/block/sde64 /data/logs/nt_kmsg
    copy /dev/block/sde65 /data/logs/nt_uefi
    chmod 0444 /data/logs/nt_kmsg
    chmod 0444 /data/logs/nt_uefi
    chown system system /data/logs/nt_kmsg
    chown system system /data/logs/nt_uefi
    setprop sys.logkit.taro.nt_uefi.copy 0

# for set location_debug
on property:sys.logkit.location.debug_enabled=false
   setprop persist.vendor.location.debug_enabled false

on property:sys.logkit.location.debug_enabled=true
   setprop persist.vendor.location.debug_enabled true

on property:persist.vendor.location.debug_enabled=*
    setprop sys.read.location.debug_enabled ${persist.vendor.location.debug_enabled}

# for set full dump nonlimit
on property:sys.logkit.fulldump.nonlimit=0
   setprop persist.vendor.fulldump.nonlimit 0

on property:sys.logkit.fulldump.nonlimit=1
   setprop persist.vendor.fulldump.nonlimit 1

on property:persist.vendor.fulldump.nonlimit=*
    setprop sys.read.fulldump.nonlimit ${persist.vendor.fulldump.nonlimit}

on property:ro.boot.aging_build=1
    setprop persist.sys.debug.enabled 1
    setprop persist.sys.debug.input 1
    setprop persist.sys.debug.barrier 1

service log_service /system_ext/bin/nt_logkit
    class core
    file /proc/kmsg r
    user system
    group root system
    oneshot
    disabled

service tcp_dump /system_ext/bin/nt_logkit tcpdump
    class main
    user root
    group root system
    oneshot
    seclabel u:r:tcpdump:s0
    disabled

service copy_tombstones /system_ext/bin/nt_logkit copy_folder data/tombstones data/logs
    class core
    user system
    group system
    oneshot
    disabled

service dump_info /system_ext/bin/nt_logkit dump_info
    class core
    user system
    group root system
    seclabel u:r:dumpinfo:s0
    oneshot
    disabled

service logkit_sigquit /system_ext/bin/nt_logkit cmd kill -3 ${sys.logkit.sigquit.p}
    class core
    user root
    group root system
    oneshot
    disabled
